@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Secular One', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sticky-bar{
  position: sticky;
  top: 0;
  /* z-index: 5; */
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #eee;
    background: black;
  }
  input[type="text"]{
    background-color: darkgray;
  }
  input[type="email"]{
    background-color: darkgray;
  }
  input[type="password"]{
    background-color: darkgray;
  }
  input::placeholder{
    color: #303030;
  }
} */

input[type="checkbox"]:checked{
  accent-color: #6157A0;
}
input:focus{
  outline: none !important;
}

input[type="text"]:hover{
  border: 1px solid#000;
}
input[type="text"]:focus{
  border: 2px solid#1976D2;
}

input[type="email"]:hover{
  border: 1px solid#000;
}
input[type="email"]:focus{
  border: 2px solid#1976D2;
}

input[type="search"]:hover{
  border: 1px solid#000;
}
input[type="search"]:focus{
  border: 2px solid#1976D2;
}
/* .backgroundDiv{
  background-image: url("https://images.pexels.com/photos/4427622/pexels-photo-4427622.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
  width: 50%;
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
} */
.container {
  display: grid;
}

.content, .overlay {
  grid-area: 1 / 1;
}

/*.dark{
  background-color: darkgray;
  color: #303030;
}
 .dark input[type="text"]{
  background-color: darkgray;
}
.dark input[type="email"]{
  background-color: darkgray;
}
.dark input[type="password"]{
  background-color: darkgray;
}
.dark input::placeholder{
  color: #fff;
} */

.light{
  background-color: #fff;
  color: #303030;
}

.loader{
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(0,0,0,0.75);
  height: 100vh;
  top: 0;
  left: 0;
}

.spinner{
  width: 100px;
  height: 100px;
  border: 10px solid #303030; /* Light grey */
  border-top: 10px solid #c6d1d1; /* Blue */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

/* ::-webkit-scrollbar {
  width: 10px;
  max-height: 8px;
}
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  ::-webkit-scrollbar-thumb {
  background: #afb4b4; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #afb4b4; 
}  */